<!DOCTYPE html>
<html
  lang="en"
  data-layout="{{ layout }}"
>
  <head>
    {# Metadata #}
    <meta charset="utf-8" />

    {# Lotus #}
    <script type="module" src="/dist/lotus.js"></script>
  </head>
  <body>
    <div class="content__body">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>
  </body>
</html>
