@switch-prefix-cls: ~'l-switch';

.@{switch-prefix-cls} {
  position: relative;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.25);
}
