<!doctype html>
<html lang="en" data-layout="component" data-lotus-version="1.0.0">
  <head>
    <meta charset="utf-8" />

    <meta name="turbo-cache-control" />

    <link rel="stylesheet" href="/assets/styles/docs.css" />
    <link rel="stylesheet" href="/assets/styles/code-previews.css" />

    <link rel="stylesheet" href="/dist/themes/light.css" />
    <script type="module" src="/dist/lotus-autoloader.js"></script>

    <script src="/assets/scripts/code-previews.js" defer=""></script>
  </head>
  <body>
    <div class="content__body">
      <div class="code-preview">
        <div class="code-preview__preview">
          <l-badge>Button</l-badge>

          <l-badge>
            <l-button theme="solid">Button</l-button>
          </l-badge>

          <div class="code-preview__resizer">
            <sl-icon name="grip-vertical"></sl-icon>
          </div>
        </div>

        <div class="code-preview__source-group" id="code-preview-source-group-6">
          <div class="code-preview__source code-preview__source--html">
            <pre><code class="language-html">&lt;l-badge&gt;Button&lt;/l-badge&gt;

&lt;l-badge&gt;
  &lt;l-button theme="solid"&gt;Button&lt;/l-button&gt;
&lt;/l-badge&gt;
</code></pre>
          </div>
        </div>

        <div class="code-preview__buttons">
          <button
            type="button"
            class="code-preview__button code-preview__toggle"
            aria-expanded="false"
            aria-controls="code-preview-source-group-6"
          >
            Source
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>

          <button type="button" class="code-preview__button code-preview__button--codepen" title="Edit on CodePen">
            <svg
              width="138"
              height="26"
              viewBox="0 0 138 26"
              fill="none"
              stroke="currentColor"
              stroke-width="2.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M80 6h-9v14h9 M114 6h-9 v14h9 M111 13h-6 M77 13h-6 M122 20V6l11 14V6 M22 16.7L33 24l11-7.3V9.3L33 2L22 9.3V16.7z M44 16.7L33 9.3l-11 7.4 M22 9.3l11 7.3 l11-7.3 M33 2v7.3 M33 16.7V24 M88 14h6c2.2 0 4-1.8 4-4s-1.8-4-4-4h-6v14 M15 8c-1.3-1.3-3-2-5-2c-4 0-7 3-7 7s3 7 7 7 c2 0 3.7-0.8 5-2 M64 13c0 4-3 7-7 7h-5V6h5C61 6 64 9 64 13z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
